AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

OPENAI_API_KEY=

# db
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# cognito
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_USER_POOL_ID=

# stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=